<link rel="stylesheet" href="/css/page-transitions.css">
<link rel="stylesheet" href="/css/view-default.css">
<script src="/js/page-transitions.js"></script>

<style type="text/css">


</style>


<div id="pages" class="pt-perspective">

	<div class="show round pt-page">

		<!-- FLAG -->
		<div class="flag-3d">
			<img class="flag" src="/flags/4x3/br.svg"/>
		</div>

		<!-- HEADER -->
		<div class="field-top shadow-md">
			<div class="field-title">FIELD</div>
			<div class="field">A</div>
		</div>
		<div class="table-name title-top-xs shadow-md">
			OFICIAL ROUND
		</div>
		<div class="timer title-top-lg shadow-lg">
			15:00
		</div>

		<!-- ROUND and TEAM -->
		<div class="info">
			<div class="round-name shadow-lg">ROUND</div>
			<div class="round-number">2</div>
			<div class="round-team">EMEROTECOS</div>
		</div>


	</div>

	<div class="pt-page bg-blue">
		<h1>B</h1>
	</div>
	<!-- <div class="pt-page bg-purple"> <h1>C</h1> </div> -->
	<!-- <div class="pt-page bg-red"> <h1>D</h1> </div> -->
</div>

<footer>
	<img class="logo" src="/img/logo_robocup.png"/>
	
	<h1 class="title">Rescue B</h1>
</footer>


<script type="text/javascript">

var GlobalViewController = Backbone.View.extend({
	initialize: function () {
		var view = this;
		this.pageTransitions = new App.Views.PageTransitions();

		var testViews = $('.pt-page');
		var i = -1;
		setInterval(function(){
			if(i++ >= testViews.length - 1)
				i = 0;

			var $view = testViews.eq(i);

			var animationsKeys = _.keys(view.pageTransitions.animations);
			// var key = 'rotateSidesOut';
			var key = _.sample(animationsKeys);
			var animation = view.pageTransitions.animations[key];
			view.pageTransitions.changePage($view, {
				animation: animation
			});
		}, 2000);
	},

	render: function(){

	},
});


$(document).ready(function(){
	var viewController = new GlobalViewController();

	viewController.pageTransitions.changePage($('.pt-page.show'))

	setInterval(function(){
		$('.flag').toggleClass('show');
	}, 4000);

})


</script>