<link rel="stylesheet" href="/css/page-transitions.css">
<link rel="stylesheet" href="/css/view-default.css">
<script src="/js/page-transitions.js"></script>

<style type="text/css">


</style>

<div id="wrapper" style="zoom: 0.6;">

	<div id="pages" class="pt-perspective">

		<div class="show round pt-page">

			<!-- FLAG -->
			<div class="flag-3d">
				<img class="flag" src="/flags/4x3/br.svg"/>
			</div>

			<!-- HEADER -->
			<div class="field-top shadow-md">
				<div class="field-title">FIELD</div>
				<div class="field">A</div>
			</div>
			<div class="table-name title-top-xs shadow-md">
				OFICIAL ROUND
			</div>
			<div class="timer title-top-lg shadow-lg">
				15:00
			</div>

			<!-- ROUND and TEAM -->
			<div class="info">
				<div class="round-name shadow-lg">ROUND</div>
				<div class="round-number">2</div>
				<div class="round-team">EMEROTECOS</div>
			</div>

		</div>

		<div class="pt-page bg-blue"  style="text-align: center;">
			<h1 style="position: relative; margin-top: -200px; top: 50%; font-size: 400px; line-height: 400px; color: #F0F0F0;">B</h1>
		</div>

		<div class="pt-page bg-red"  style="text-align: center;">
			<h1 style="position: relative; margin-top: -200px; top: 50%; font-size: 400px; line-height: 400px; color: #F0F0F0;">C</h1>
		</div>
		<!-- <div class="pt-page bg-purple"> <h1>C</h1> </div> -->
		<!-- <div class="pt-page bg-red"> <h1>D</h1> </div> -->
	</div>

	<div id="page-navigation" class="dotstyle dotstyle-scaleup">
		<ul>
			<li class="current"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>

	<footer>
		<img class="logo" src="/img/logo_robocup.png"/>
		
		<h1 class="title">Rescue B</h1>
	</footer>

</div>


<script type="text/javascript">

var GlobalViewController = Backbone.View.extend({
	initialize: function () {
		var view = this;
		this.pageTransitions = new App.Views.PageTransitions();

		var testViews = $('.pt-page');
		var i = -1;
		setInterval(next, 5000);
		next();
		function next(){
			if(i++ >= testViews.length - 1)
				i = 0;

			var $view = testViews.eq(i);

			var animationsKeys = _.keys(view.pageTransitions.animations);
			// var key = 'rotateSidesOut';
			var key = _.sample(animationsKeys);
			var animation = view.pageTransitions.animations[key];
			view.pageTransitions.changePage($view, {
				animation: animation
			});
		}
	},

	render: function(){

	},
});


$(document).ready(function(){
	var viewController = new GlobalViewController();

	// viewController.pageTransitions.changePage($('.pt-page.show'))

	setInterval(function(){
		$('.flag').toggleClass('show');
	}, 3000);

})


</script>