<link rel="stylesheet" href="/css/page-transitions.css">
<script src="/js/page-transitions.js"></script>
<style type="text/css">

body {
    overflow: hidden;
    background-color: #333;
}

.bg-orange{ background-color: #FF8C00; }
.bg-blue{ background-color: #00CDCD; }
.bg-purple{ background-color: #B452CD; }
.bg-red{ background-color: #DC143C; }

</style>


<div id="pt-pages" class="pt-perspective">
	<div class="pt-page bg-orange"> <h1>A</h1> </div>
	<div class="pt-page bg-blue"> <h1>B</h1> </div>
	<div class="pt-page bg-purple"> <h1>C</h1> </div>
	<div class="pt-page bg-red"> <h1>D</h1> </div>
</div>


<script type="text/javascript">

var GlobalViewController = Backbone.View.extend({
	initialize: function () {
		var view = this;
		this.pageTransitions = new App.Views.PageTransitions();

		var testViews = $('.pt-page');
		var i = -1;
		setInterval(function(){
			if(i++ >= testViews.length - 1)
				i = 0;

			var $view = testViews.eq(i);

			var animationsKeys = _.keys(view.pageTransitions.animations);
			// var key = 'rotateSidesOut';
			var key = _.sample(animationsKeys);
			var animation = view.pageTransitions.animations[key];
			view.pageTransitions.changePage($view, {
				animation: animation
			});
		}, 2000);
	},

	render: function(){

	},
});


$(document).ready(function(){
	var globalViewController = new GlobalViewController();
})


</script>