<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Tournament Viewer page to show scores, tables, groups...">
	<meta name="author" content="Ivan Seidel">
	<!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->

	<title>Tournament View</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/views/css/template.css" rel="stylesheet">

	<script src="/js/jquery-1.10.2.min.js"></script>
	<!-- // <script src="/js/bootstrap.min.js"></script> -->

	<!-- <link href="/assets/x-editable/x-editable.css" rel="stylesheet"/> -->
	<!-- // <script src="/assets/x-editable/x-editable.min.js"></script> -->

	<!-- underscore -->
	<!-- // <script src="/js/underscore-min.js"></script>     -->

	<!-- backbone -->
	<!-- // <script src="/js/backbone-min.js"></script>     -->

	<!-- select2 --> 
	<!-- <link href="/assets/select2/select2.css" rel="stylesheet"> -->
	<!-- // <script src="/assets/select2/select2.js"></script>   -->

	<!-- select2 bootstrap -->
	<!-- <link href="/assets/select2/select2-bootstrap.css" rel="stylesheet"> -->

	<!-- bootstrap switch -->
	<!-- <link href="/css/bootstrap-switch.min.css" rel="stylesheet"> -->
	<!-- <script src="/js/bootstrap-switch.min.js"></script> -->

	<!-- Custom utility -->
	<!-- // <script src="/js/util.js"></script>   -->

</head>

<body>

	<div id="wrap">
		Wrap
	</div>

	<div id="footer">
		Footer
	</div>

	<!-- Bring in the socket.io client -->
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<!-- then beef it up with some convenience logic for talking to Sails.js -->
	<script type="text/javascript" src="/js/sails.io.js"></script>
	<!-- listen on socket.io for incoming messages -->
	<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>
