<div class="container">

	<div class="board no-space col-md-12" style="margin-top: 50px;">

		<div class="board-heading heading-lg heading-orange" style="z-index: 20;"><h2 class="table-title"></h2></div>
		<div class="row">

			<div class="board col-md-7" style="z-index: 15;">
				<div class="board-heading heading-orange">

					<div class="pull-right dotstyle dotstyle-scaleup">
						<ul class="page-indicator">
						</ul>
					</div>

					<h3>SCORES</h3>

				</div>

				<!-- TABLE DATA -->
				<div class="col-md-12 table-pages pt-perspective" style="height: 100%;">
				</div>
			</div>
			<!-- Playing, Played and Scheduled matches -->
			<div class="matches-board board col-md-5">
				<div class="board-heading heading-orange">
					<!-- <div class="pull-right dotstyle dotstyle-scaleup">
						<ul><li><a href="#"></a></li><li><a href="#"></a></li><li class="current"><a href="#"></a></li></ul>
					</div> -->

					<h3>MATCHES</h3>
				</div>
				<div class="matches-inner">

					

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

</div>