<div><strong>Tables to show:</strong> <span class="config-tables"></span></div>
<small class="text-muted">Select all Tables that you want to show, created in <a href="/tables/manage">Tables Module</a>.</small>

<div><strong>Rows on table:</strong> <span class="config-rows"></span></div>
<small class="text-muted">How many rows show be shown? Leave empty to be Automatic.</small>

<div><strong>Time between change:</strong> <span class="config-still"></span></div>
<small class="text-muted">How long will each cycle of scores durate? Leave it empty to be Automatic</small>