
<!-- <div class="row"> -->

	<div class="board-heading heading-lg heading-orange">
		<h2 class="table-title">{{title}}</h2>
	</div>

	<div class="scores-board board col-md-12">
		<div class="board-heading heading-orange">

			<div class="pull-right dotstyle dotstyle-scaleup">
				<ul class="page-indicator">
				</ul>
			</div>

			<h3 class="table-subtitle">{{subtitle}}</h3>

		</div>


		<!-- <table class="table-bordered table-pretty table-orange">
			
		</table> -->
	</div>
	<div class="table-pages pt-perspective" style="height: 100%;">
	</div>
<!-- </div> -->