<!-- <h1 style="position: relative; top: 50%; margin-top: -50px;text-align: center;color:#BBB; font-size: 100px">
	&lt;Table View&gt;
</h1> -->

<div class="container">

	<div class="board no-space col-md-12" style="margin-top: 50px;">

		<div class="board-heading heading-lg heading-orange" style="z-index: 20;"><h2>{{}}</h2></div>
		<div class="row">

			<div class="scores-board board col-md-8">
				<div class="board-heading heading-orange">

					<div class="pull-right dotstyle dotstyle-scaleup">
						<ul><li><a href="#"></a></li><li><a href="#"></a></li><li class="current"><a href="#"></a></li></ul>
					</div>

					<h3>SCORES</h3>

				</div>

				<table class="table-pretty table-orange">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Team</th>
							<th>Score 1</th>
							<th>Score 2</th>
							<th>Score 3</th>
							<th>Score 4</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Emerotecos</td>
							<td>123</td>
							<td>513</td>
							<td>103</td>
							<td>-</td>
							<td>45.6</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Team Boringness</td>
							<td>14</td>
							<td>753</td>
							<td>43</td>
							<td>-</td>
							<td>49.6</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Emerotecos</td>
							<td>123</td>
							<td>513</td>
							<td>103</td>
							<td>-</td>
							<td>45.6</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Team Boringness</td>
							<td>14</td>
							<td>753</td>
							<td>43</td>
							<td>-</td>
							<td>49.6</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Emerotecos</td>
							<td>123</td>
							<td>513</td>
							<td>103</td>
							<td>-</td>
							<td>45.6</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Team Boringness</td>
							<td>14</td>
							<td>753</td>
							<td>43</td>
							<td>-</td>
							<td>49.6</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Playing, Played and Scheduled matches -->
			<div class="matches-board board col-md-4">
				<div class="board-heading heading-orange">
					<div class="pull-right dotstyle dotstyle-scaleup">
						<ul><li><a href="#"></a></li><li><a href="#"></a></li><li class="current"><a href="#"></a></li></ul>
					</div>

					<h3>MATCHES</h3>
				</div>
				<div class="matches-inner">
					
					<div class="group-tag group-tag-orange"><span class="glyphicon glyphicon-play"></span> PLAYING</div>
					<div class="match-item match-playing">
						<div class="match-place">Day 23, 12:40</div>
						<div class="match-teams">Emerotecos x The Doodles</div>
						<div class="match-field">A</div>
					</div>
					<div class="match-item match-playing">
						<div class="match-place">Day 23, 12:40</div>
						<div class="match-teams">Emerotecos x The Doodles</div>
						<div class="match-field">D</div>
					</div>
					<div class="match-item match-playing">
						<div class="match-place">Day 23, 12:40</div>
						<div class="match-teams">Emerotecos x The Doodles</div>
						<div class="match-field">F</div>
					</div>


					<div class="group-tag group-tag-blue"><span class="glyphicon glyphicon-time"></span> SCHEDULED</div>
					<div class="match-item match-scheduled">
						<div class="match-place">Day 23, 12:40</div>
						<div class="match-teams">Emerotecos x The Doodles</div>
						<div class="match-field">C</div>
					</div>
					<div class="match-item match-scheduled">
						<div class="match-place">Day 23, 12:40</div>
						<div class="match-teams">Emerotecos x The Doodles</div>
						<div class="match-field">J</div>
					</div>

					<div class="group-tag group-tag-green"><span class="glyphicon glyphicon-ok"></span> ENDED</div>
					<div class="match-item match-ended">
						<div class="team-data team-left">
							<span class="team-score">10</span>
							<span class="team-name">Emerotecos</span>
						</div>

						<div class="team-data team-right">
							<span class="team-score">10</span>
							<span class="team-name">The Doodles</span>
						</div>

					</div>
					<div class="match-item match-ended">
						<div class="team-win team-data team-left">
							<span class="team-score">19</span>
							<span class="team-name">Emerotecos</span>
						</div>

						<div class="team-loose team-data team-right">
							<span class="team-score">2</span>
							<span class="team-name">The Doodles</span>
						</div>

					</div>
					<div class="match-item match-ended">
						<div class="team-loose team-data team-left">
							<span class="team-score">21</span>
							<span class="team-name">Emerotecos</span>
						</div>

						<div class="team-win team-data team-right">
							<span class="team-score">23</span>
							<span class="team-name">The Doodles</span>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

</div>