<div class="board-heading heading-lg heading-orange">
	<h2>{{title}}</h2>
</div>

<div class="row">

	<div class="scores-board board col-md-12">
		<div class="board-heading heading-orange">

			<div class="pull-right dotstyle dotstyle-scaleup">
				<ul class="page-indicator">
				</ul>
			</div>

			<h3>{{subtitle}}</h3>

		</div>
		
		<table class="scores-table table-pretty table-orange">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Team</th>
					<th>Score 1</th>
					<th>Score 2</th>
					<th>Score 3</th>
					<th>Score 4</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Emerotecos</td>
					<td>123</td>
					<td>513</td>
					<td>103</td>
					<td>-</td>
					<td>45.6</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Team Boringness</td>
					<td>14</td>
					<td>753</td>
					<td>43</td>
					<td>-</td>
					<td>49.6</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Emerotecos</td>
					<td>123</td>
					<td>513</td>
					<td>103</td>
					<td>-</td>
					<td>45.6</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Team Boringness</td>
					<td>14</td>
					<td>753</td>
					<td>43</td>
					<td>-</td>
					<td>49.6</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Emerotecos</td>
					<td>123</td>
					<td>513</td>
					<td>103</td>
					<td>-</td>
					<td>45.6</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Team Boringness</td>
					<td>14</td>
					<td>753</td>
					<td>43</td>
					<td>-</td>
					<td>49.6</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>